<div class="w-11/12 mx-auto text-neutral">
  <!-- Hero Section Start -->
  <div class="grid grid-cols-1 lg:grid-cols-2 pt-10 lg:pt-24">
    <div class="lg:pr-4 xl:pr-0">
      <h1 class="text-4xl md:text-6xl lg:text-4xl xl:text-6xl font-semibold tracking-wider leading-snug md:leading-tight mb-5">Discover Your Dream with Amar-Jomi</h1>
      <p class="mb-5">
				Welcome to Amar Jomi, your gateway to exclusive real estate opportunities. With a select network of assigned agents, we offer a curated collection of lands and flats tailored to your needs. Trust in our expertise and personalized service as we guide you in finding the perfect property. Start your journey towards owning your dream home today with Amar Jomi.
      </p>
      <div class="flex mb-5">
        <a href="/properties" class="btn btn-active btn-neutral mr-3">
          <span>Properties</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
          </svg>
        </a>
      </div>
      <div class="flex">
        <div class="mr-5">
          <h2 class="text-2xl font-bold font-sans">300+</h2>
          <p class="text-gray-600">Properties</p>
        </div>
        <div class="mr-5">
          <h2 class="text-2xl font-bold font-sans">10</h2>
          <p class="text-gray-600">Agents</p>
        </div>
        <div class="mr-5">
          <h2 class="text-2xl font-bold font-sans">20+</h2>
          <p class="text-gray-600">Happy Customers</p>
        </div>
      </div>
    </div>
    <div class="my-16 lg:mt-8">
      <%= image_tag "/assets/hero_image.png", class: "w-full", alt: "Hero Section" %>
    </div>
  </div>
  <!-- Hero Section End -->

  <!-- About Section Start -->
  <div class="grid grid-cols-1 lg:grid-cols-2 py-16 lg:py-20">
    <div class="hidden lg:block">
      <img src="/assets/about_lp.png" class="md:w-10/12 lg:w-full xl:w-10/12 mx-auto " alt="About Section">
    </div>
    <div class="lg:pl-10 xl:pl-4">
      <h1 class="text-3xl md:text-5xl lg:text-3xl xl:text-5xl font-semibold tracking-wider leading-snug md:leading-tight mb-5 mt-12 lg:mt-0">Trust in Quality, Find Your Perfect Property with Amar Jomi</h1>
      <div class="space-y-2 font-semibold">
        <p class="flex">
          <span class="mr-2 text-[#37D769]"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
          </svg>
          </span> Curated selection of premium lands and flats
        </p>
        <p class="flex">
          <span class="mr-2 text-[#37D769]"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
          </svg>
          </span> Handpicked by expert agents for quality assurance
        </p>
        <p class="flex">
          <span class="mr-2 text-[#37D769]"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
          </svg>
          </span> Personalized service tailored to your needs
        </p>
        <p class="flex">
          <span class="mr-2 text-[#37D769]"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
          </svg>
          </span> Trusted network of assigned agents guiding you every step of the way
        </p>
        <p class="flex">
          <span class="mr-2 text-[#37D769]"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
          </svg>
          </span> Transparent and honest transactions, ensuring peace of mind throughout the buying process
        </p>
      </div>
    </div>
  </div>
  <!-- About Section End -->

  <!-- Our Services Start -->
  <div class="pb-24 pt-10">
    <h1 class="text-center text-3xl md:text-4xl lg:text-4xl xl:text-5xl font-semibold leading-snug md:leading-tight mb-12">Our Services</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
      <div class="p-8 text-center shadow-lg shadow-gray-500/40 bg-[#d3f3dd] hover:bg-transparent rounded-md cursor-pointer duration-300">
        <div class="bg-[#37d76a36] w-20 h-20 rounded-full m-auto flex justify-center items-center">
          <span class="text-[#37D769]">
            <!-- 1 : Buy a home -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
            </svg>
          </span>
        </div>
        <h2 class="my-5 text-2xl font-medium">Property Listings</h2>
        <p>Explore a diverse range of curated land and flat listings, handpicked by our expert agents to match your preferences and budget.</p>
      </div>
      <div class="p-8 text-center shadow-lg shadow-gray-500/40 bg-[#d3f3dd] hover:bg-transparent rounded-md cursor-pointer duration-300">
        <div class="bg-[#37d76a36] w-20 h-20 rounded-full m-auto flex justify-center items-center">
          <span class="text-[#37D769]">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 21v-7.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349M3.75 21V9.349m0 0a3.001 3.001 0 0 0 3.75-.615A2.993 2.993 0 0 0 9.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 0 0 2.25 1.016c.896 0 1.7-.393 2.25-1.015a3.001 3.001 0 0 0 3.75.614m-16.5 0a3.004 3.004 0 0 1-.621-4.72l1.189-1.19A1.5 1.5 0 0 1 5.378 3h13.243a1.5 1.5 0 0 1 1.06.44l1.19 1.189a3 3 0 0 1-.621 4.72M6.75 18h3.75a.75.75 0 0 0 .75-.75V13.5a.75.75 0 0 0-.75-.75H6.75a.75.75 0 0 0-.75.75v3.75c0 .414.336.75.75.75Z" />
            </svg>
            
          </span>
        </div>
        <h2 class="my-5 text-2xl font-medium">Agent Assistance</h2>
        <p>Get personalized guidance from our dedicated agents throughout your real estate journey, from property selection to closing.
				</p>
      </div>
      <div class="p-8 text-center shadow-lg shadow-gray-500/40 bg-[#d3f3dd] hover:bg-transparent rounded-md cursor-pointer duration-300">
        <div class="bg-[#37d76a36] w-20 h-20 rounded-full m-auto flex justify-center items-center">
          <span class="text-[#37D769]">
            <!-- 3 : Become an agent -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 21v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21m0 0h4.5V3.545M12.75 21h7.5V10.75M2.25 21h1.5m18 0h-18M2.25 9l4.5-1.636M18.75 3l-1.5.545m0 6.205 3 1m1.5.5-1.5-.5M6.75 7.364V3h-3v18m3-13.636 10.5-3.819" />
            </svg>                              
          </span>
        </div>
        <h2 class="my-5 text-2xl font-medium">Property Evaluation</h2>
        <p>Receive comprehensive property evaluations to make informed investment decisions, utilizing market analysis and industry-leading techniques.</p>
      </div>
      <div class="p-8 text-center shadow-lg shadow-gray-500/40 bg-[#d3f3dd] hover:bg-transparent rounded-md cursor-pointer duration-300">
        <div class="bg-[#37d76a36] w-20 h-20 rounded-full m-auto flex justify-center items-center">
          <span class="text-[#37D769]">
            <!-- 4 : Extra Secqurity -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z" />
            </svg>                              
          </span>
        </div>
        <h2 class="my-5 text-2xl font-medium">Legal Support</h2>
        <p>Navigate real estate transactions confidently with our legal support services, ensuring compliance and minimizing risks.</p>
      </div>
      <div class="p-8 text-center shadow-lg shadow-gray-500/40 bg-[#d3f3dd] hover:bg-transparent rounded-md cursor-pointer duration-300">
        <div class="bg-[#37d76a36] w-20 h-20 rounded-full m-auto flex justify-center items-center">
          <span class="text-[#37D769]">
            <!-- 5 : Luxury Apartment -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Z" />
            </svg>
            
          </span>
        </div>
        <h2 class="my-5 text-2xl font-medium">Financial Consultation</h2>
        <p>Access expert advice on financing options and investment strategies tailored to your goals, provided by our experienced financial advisors.</p>
      </div>
      <div class="p-8 text-center shadow-lg shadow-gray-500/40 bg-[#d3f3dd] hover:bg-transparent rounded-md cursor-pointer duration-300">
        <div class="bg-[#37d76a36] w-20 h-20 rounded-full m-auto flex justify-center items-center">
          <span class="text-[#37D769]">
            <!-- 6 : Office Revolution -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 21h16.5M4.5 3h15M5.25 3v18m13.5-18v18M9 6.75h1.5m-1.5 3h1.5m-1.5 3h1.5m3-6H15m-1.5 3H15m-1.5 3H15M9 21v-3.375c0-.621.504-1.125 1.125-1.125h3.75c.621 0 1.125.504 1.125 1.125V21" />
            </svg>                              
          </span>
        </div>
        <h2 class="my-5 text-2xl font-medium">After-Sales Support</h2>
        <p>Enjoy continued assistance after your purchase, including property management and maintenance support for long-term satisfaction and peace of mind.</p>
      </div>

    </div>
  </div>
  <!-- Our Services End -->

  <!-- Latest News Secton Start -->
  <div class="pb-24 pt-10 w-11/12 mx-auto">
    <h1 class="text-center text-3xl md:text-4xl lg:text-4xl xl:text-5xl font-semibold leading-snug md:leading-tight mb-12">See Our Latest News
      <p>&</p> Read Blogs</h1>
    <div class="grid md:grid-rows-2 md:grid-flow-col gap-5">
      <img class="md:row-span-2 rounded-lg border-4 border-primary" src="/assets/lp1.jpeg" alt="Home">
      <img class="md:col-span-1 rounded-lg border-4 border-primary" src="/assets/lp2.jpeg" alt="Home">
      <img class="md:col-span-1 rounded-lg border-4 border-primary" src="/assets/lp3.jpeg" alt="Home">
      <img class="md:row-span-2 rounded-lg border-4 border-primary" src="/assets/lp4.jpeg" alt="Home">
    </div>
  </div>
  <!-- Latest News Secton End -->
</div>
